
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-size: cover;
    font-family: 'Akshar', sans-serif;
}

.logoContainer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo   {
    height: calc(37px);
    width: calc(200px);
    object-fit: contain;
}


.dataRow {
    backdrop-filter: saturate(180%) blur(10px);
    margin-top: 2%;
    width: 100vw;
    height: 350px;
    min-height: 30%;
    background-color: rgba(134, 134, 134, 0.541);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}   


.container-main {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas: ". temp ."
                         ". img ."
                        "minmax . sun";
    justify-items: center;
    align-items:flex-end;
    height: 100%;
    width: 50%;
}

.feelsLike {
    grid-area: img;
    align-self: flex-end;
    font-size: 2em;
    position: relative;
    top: 15%;
}

.main-climate-day-text-date {
    grid-area: temp;    
    align-self: flex-end;
    font-size: 1.7em;
}

.main-weather {
    grid-area: img;
    align-self: flex-end;
    position: relative;
    bottom: 5%;
    font-size: 1.5em;
    z-index: 1;
}
.main-climate-logo {
    grid-area: img;
    align-self: flex-start;
    object-fit: contain;
    height: 150px;  
    width: 150px;
}

.main-climate-day-text-tempMin {
    grid-area: minmax;
    align-self: center; 
    font-size: 1.5em;
}

.main-climate-day-text-tempMax {
    grid-area: minmax;
    align-self: flex-end;
    font-size: 1.5em;
}

.sunset {
    grid-area: sun;
    align-self: flex-end;
    font-size: 1.5em;
}
.sunrise {
    grid-area: sun;
    align-self: center;
    font-size: 1.5em;
}

.container-daily {
    width: 50%;
    height: 100%;
}


.dayDiv {
    width: 100%;
    height: calc(100% / 7);
    
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    'date img weather min max ';
    justify-items: center;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 0px 1px 5px .3px grey ;
}

.climate-day-text-date {
    grid-area: date;
}

.climate-logo {
    grid-area: img;
    object-fit:contain;
    height: 25px;
    width: 25px;
}

.weather {
    grid-area: weather;
}

.climate-day-text-tempMax {
    grid-area: max;
} 

.climate-day-text-tempMin {
    grid-area: min;
} 



.searchDiv {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 30%;
    max-width: 500px;
    background-color: transparent;
    border: none;
    border-bottom: 2px white solid;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#search:focus {
    outline: 0;
}


#searchBtn {
    width: 100px;
    height: 30px;
    margin-left: 1%;
    background-color: rgba(173, 173, 173, 0.582);
    box-shadow: 0px 0px 3px .1px white;
    border: none;
}

#searchBtn:hover {
    background-color: rgba(173, 173, 173, 0.897);
}


.error {
    font-size: 2em;
    color: grey;
    position: relative;
    left: 8em; 
    top: 4em;
}


.lds-roller {
    display: inline-block;
    position: relative;
    top: 35%;
    right: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(177, 177, 177);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  